# Defines owners of specific parts of the codebase.

# Global owner of all code
*   @dealloc @chatterchats

# All documentation should be approved by following owners
*.md    @chatterchats
*.tree    @chatterchats
*.cfg    @chatterchats
